* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none; 
}
header {
    width: 100%;
    height: 100vh;
}

.menu {
    display: flex;
    max-width: 625px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.navButtons {
    color: #979797;
}
.navButtons:hover {
    color: #000;
}
.headerBlock {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
}
.pHeader {
    text-align: center;
    padding-bottom: 45px;
}
.center {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.buttonHeader {
    width: 190px;
    height: 57px;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    margin: auto;
    padding-top: 18px;
}
.buttonHeader:hover {
    background: #ddd;
}
.elipse {
    max-width: 11px;
    margin: auto;
    padding-top: 285px;
}
.aboutUs {
    background: #000;
    color: #fff;
    max-width: 100vw;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 935px;
    margin: auto;
}
.buildings {
    max-width: 99vw;
    position: relative;
    bottom: -6px;
}
.aboutUs2011 {
    align-self: flex-start;
    max-width: 450px;
    padding-top: 50px;
}
.aboutUs2012 {
    align-self: flex-end;
    max-width: 450px;
}
.aboutUs2013 {
    align-self: flex-start;
    max-width: 450px;
}
.aboutUs2014 {
    align-self: flex-end;
    max-width: 450px;
}
.team {
    display: flex;
}
h2.teamH2 {
    text-align: center;
}
p.teamParagraph {
    text-align: center;
}
.containerTeam {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    min-width: 800px;
    margin:100px 0 100px 0;
    
}
.team1 {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    max-width: 168px;
}
.team2 {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    max-width: 168px;
}
.team3 {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    max-width: 168px;
}
.social {
    display: flex;
    justify-content: center;
}
.font12 {
    font-size: 11px;
}
.everything {
    background: #000;
    color: #fff;
    -webkit-clip-path: polygon(0% 15%, 100% 0, 100% 85%, 0 100%);
     clip-path: polygon(0% 15%, 100% 0, 100% 85%, 0 100%);
}
.everythingH2 {
    text-align: center;
    margin-top: 45px;
}
.everythingP {
    text-align: center;
}
.containerEverything {
    display: flex;
    justify-content: space-around;
    
}
.itemEverything {
    max-width: 335px;
    display: flex;
    flex-direction: column;
    margin:100px 0 100px 0;
}
.mb45px {
    margin-bottom: 45px;
}
.mb25px {
    margin-bottom: 25px;
}
.mt100px {
    margin-top: 100px;
}
.buttonEverything {
    width: 190px;
    height: 57px;
    background: #fff;
    color: #000;
    text-align: center;
    margin: auto;
    padding-top: 18px;
    margin-bottom: 100px;
}
.buttonEverything:hover {
    background: #333;
}
.containerContact {
    display: flex;
    justify-content: space-around;    
}
.contactH2 {
    text-align: center;
    margin-top: 45px;
}
.contactP {
    text-align: center;
}
.itemContact {
    display: flex;
    flex-direction: column;
    margin:100px 0 100px 0;
}
.form {
    display: flex;  
    flex-direction: column;
}
.inputForm {
    text-align: center;
    height: 55px;
}
.inputBigForm {
    height: 200px;
    text-align: inherit;
}
.buttonForm {
    background: #000;
    color: #fff;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: space-around;
}
.buttonText {
    align-items: cursor: help;nter;
}