* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
    transition: all .1s ease-in;
    background: #3399CC;
    color: #ffffff;
    font-size: 0;
    
}
.container {
    width: 1000px;
    margin: auto;    
}
h1 {
    display: inline-block;
    font-size: 30px;
}
li {
    display: inline-block;
    border: 2px solid #fff;    
}
.width50 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.width25 {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.width100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.liTitle{
    font-size: 20px;
}
i {
    font-size: 18px;
    margin-left: 4px;
}
.weather{
    font-size: 18px;
}
.weather:after {
    content: "°C"
}
.box {
    border: 2px solid #fff;
}